/* mobile */

#content {
    grid-area: contentDiv;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: auto;
    height: inherit;
}

#signup-form {
    top: 15%;
}

header {
    position: sticky;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 60px;
    padding: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header.active {
    height: max-content;
    padding-bottom: 10px;
}

#loginDIV {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    top: 50px;
    width: 100%;
    height: inherit;     
}

fieldset {
    margin: auto;
    min-width: 200px;
    max-width: 300px;
}

#loginYellowBlock {
    grid-area: yellowBlock;
    width: 100%;
    height: 60px;
}

#sessionForm {
    margin: auto;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form {
    align-items: center;
    width: 100%;
    margin: auto;
}

#signup-form {
    width: min-content;
}

.userCard {
    display: flex;
    margin: 10px auto auto auto;
    padding: 5px;
    width: auto;
    max-width: 420px;
}

.userLogo {
    max-height: 100px;
    max-width: 100px;
    margin: auto;
    margin-right: 10px;
}

.user-data{
    display: grid;
}

.areArtist {
    margin: 15px 0px 15px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}

.createacc-artist{
    display: flex;
    flex-direction: column;
}

.createacc-artist-genre {    
    margin-top: 10px;
    display: grid;
}

.login-form input{
    width: 97%;
    margin-bottom: 10px;
}

.captcha {
    font-size: 170%;
    text-align: center;
    vertical-align: baseline;
    max-width: 150px;
    margin: 0px 20px 0px 0px;
    max-height: 45px;
}

.captchaDIV {    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    margin: 10px auto 10px auto;
    padding: 0px 40px 0px 40px;
}

input.reCaptcha {    
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-image: url("../images/reloadButton.png");
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
}

.reCaptcha:hover {
    transition: transform 0.3s;
    transform: rotate(50deg);
}

.user-help {
    width: max-content;
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-help a {
    margin: 0%;
    margin-bottom: 10px;
}

.user-help a:hover {
    text-decoration: underline;
}

div.submitdiv {    
    max-width: 200px;
    display: grid;
    gap: 10px;
    margin: auto;
}

.captchaUser {
    font-size:medium ;
}

.indexSubmit, #uploadButton {
    font-size: x-large;
    min-height: 40px;
}

#uploadThreeButton {
    display: none;
}

footer {
    margin-top: 50px;
    width: 100%;
	height: auto;
    position: fixed;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.logo {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 33%);
    margin-left: 10px;
    position: relative;
    top: 12px;
}



nav {
    display: none;
    flex-direction: row;
    align-items: center; 
    width: 100%;
    justify-content: right;
}

nav.active {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.navRoute {
    text-align: center;
}

nav .menu {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.buttonsHover {
    background-color: rgb(165, 158, 25)
}

#userUploadedDiv {
    justify-content: space-between;
    text-align: center;
    width: inherit;
}

#uploadDIV {
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#uploadFileFormDIV {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

#uploadedTracksFilters {
    margin-bottom: 15px;
}

table#userUploadedTracks {
    width: 100%;
    max-width: auto;
    table-layout: fixed;
    border-spacing: 0px
}

tbody#userUploadedTracksContent tr td {
    word-break: break-all;
}

#indexDIV {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 50px;
}

.leftContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftContent section {
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

.centerContent {
    grid-area: centerContent;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    align-items: center;
    padding-top: 33px;
}

.file {
    max-height: min-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rigthContent {
    width: 80%;
    margin: auto;
}

#followingList {
    padding: 0px;
    margin: 0px;
    text-align: center;
}



/* tablet */
@media only screen and (min-width: 768px) {
    body {
        font-size: 15px;        
    }

    .logo {
        margin: auto;
        margin-left: 10px;
        margin-top: 0px;
    }    

    #loginDIV {
        position: absolute;  
        right: 0px; 
        width: 60%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    #loginYellowBlock {  
        position: fixed;
        left: 0px;
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    #loginYellowBlock label {
        position: fixed;
        font-size: xx-large;
        margin-top: 50px;
    }

    nav .menu {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    
    #userUploadedDiv {
        margin: auto;
        width: 90%;
    }

    #indexDIV {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-areas: 
        "leftContent centerContent"
        "downContent centerContent";
        align-items: flex-start;
    }

    .leftContent {
        grid-area: leftContent;
        display: flex;
        flex-direction: column;
        align-items: center;  
        top: 55px;      
    }

    .centerContent {
        grid-area: centerContent;
	    gap: 5px;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    .rigthContent {
        grid-area: downContent;   
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        word-wrap: break-word;
    }

}

/* pc */
@media only screen and (min-width: 992px) {

    body {
        font-size: 16px;
    }

    #loginDIV {
        top: 0px;
        height: 100%;
    }

    #menuBtn {
        display: none;
    }

    nav, nav.active {
        display: flex;
        flex-direction: row;
        margin: 8px;
    }
    
    header, header.active {
        padding: 0px;
        display: flex;
        flex-direction: row;
    }

    #menu {
        position: relative;
        right: 15px;
    }

    nav .menu {
        width: 100%;
        margin: auto auto auto auto;
        position: relative;
        display: flex;
        flex-direction: row;
	    justify-content: space-around;
    }

    .navBar {
        width: auto;
    }

    #content {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #login-form {
        margin: auto auto 10px auto;
        padding-top: 10px;
        max-width: 300px;
    }    

    #userUploadedDiv {
        margin: auto;
        width: 90%;
    }

    #uploadFileFormDIV {
        width: 70%;
        margin: auto;
    }

    #indexDIV {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: 
        "leftContent centerContent rigthContent"
    }

    .centerContent {
        grid-area: centerContent;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .leftContent {
        grid-area: leftContent;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 10px;   
        position: fixed; 
        left: -34%;   
    }

    .rigthContent {
        grid-area: rigthContent;        
    }

}

/* pc 2 */ 
@media (min-width: 1200px) {
  body {
    font-size: 17px;
  }
}

.hidden {
	display: none;
}